body{
    background-color: #35393e;
}

header{
    background-color: chartreuse;  
    margin-top:25px;
    }


    a{
        text-decoration: none;
        
        }

        
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    
}

.headlinks{
display:flex;
flex-direction: row;
justify-content: flex-start;
justify-items: center;
align-items: center;
flex-wrap: wrap;

}



.logo{
    display: grid;

}
