* {
    box-sizing: border-box;
  }
body{
    background-color: #35393e;
}

header{
    background-color: transparent;  
    margin-top: -10px;
    margin-left: -7px;
    margin-right: -7px;

    }

    main{
        margin-left: -7px;
        margin-right: -7px;
        color: rgb(255, 0, 162);
     
    }


    .head-title{
     display: grid;
       grid-template-columns: 0.426fr[sff] auto[fsf]auto[ffsd]auto[primer];
       align-items: center;
       justify-items:center;
       align-content: center;       
    }

    .title-text{
      font-family: "title";
      font-size: 30px;
      color:rgb(255, 194, 27);
    
    }



.headtext{
    font-family: mainlink;
    font-size: 25px;
    color: rgb(255, 98, 0);   

}

.headtext:hover{
color:rgba(255, 98,0,0.9); 

}

.main-title{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-items: center;
align-items: center;


}


.mainlink{
color:rgb(255, 234, 0);
background-color: #e98c00;
border-radius: 30px;
margin-left:150px;
width: 65%;
height: 35%;
font-family: mainlink;
font-size: 118%;
line-height: 0px;
text-decoration: none;
margin-top: 20px;
margin-bottom: 50px;
}


.tacos-config{
grid-row-start: 1;
grid-row-end: 6;
grid-column-start: 2;
width:  55%;
height: 80%;
margin-right: 200px;

}

.first-link{
display: grid;
grid-template-columns: 20% 70% 10%;
}

.taco-icon{
width: 40%;
height: 67%;
margin-left: 40%; 
margin-top: 5px;
}

.desc{
font-family: mainlink;
font-size: 47px;
grid-row-start: 2;
margin-top: -30px;
margin-left:150px;
text-align: center;
}

.desc2{
font-family: mainlink;
color: #000000;
text-align: center;
margin-left: 150px;
margin-top: -37px;
font-size: 17px;

}

.desc3{
    margin-top: 18px; text-align: center; margin-left: -25px;
}

.flecha {

    width:44%; 
    height:55%;
    margin-left:25%; 
    margin-top:18%;
}


.title-sections{
font-family: mainlink;
text-align: center;
font-size: 190%;
color: #ffbf00;

}

.distri{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
justify-content: start;    

}



.card {
    width: 400px;
    height: 350px;
    background: rgb(79, 79, 79);
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    background-color: rgb(79, 79, 79);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 6px 6px;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 1.45em;
    font-weight: 600;
    color: rgb(216, 198, 0);
    font-family: distri;
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    font-family: distri;
    color: rgb(219, 94, 40);
    padding: 7px;
    text-align: left;
    line-height: 22px;
    padding-top: 9px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: rgb(27, 27, 27);
    font-weight: 400;
    font-size: 13px;
    padding-top: 5px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

.article-adicionals{
    margin-left:-7px; 
    margin-right:-7px;

    margin-top: 50px;
    height: 550px;
    display: grid;
    grid-template-columns: 55% 45%;
}



.adicionals-img{
width: 100%;
height: 95%;
border-radius: 5px;
}

.adicionals-sub1{
display: grid;
align-items: center;
}

.adicionals-sub2{
display: grid;
align-content: center;
text-align: left;
margin-right: 120px;
margin-left: 20px;
}


.adicionals-link{
background-color: orange;
border-radius: 5px;
margin-right: 55%;
text-align: center;
font-family: distri;
font-size: 105%;
padding: 10px;
display: grid;
grid-template-columns: 85% 15%;
align-items: center;
text-decoration: none;
color:#35393e;
}

.adicionals-sub2-img{
    width:65%;
    height:80%;

    }

.adicionals-subtitle{
    font-family:distri;
    color:#e97c00;
    font-size: 140%;
}

.adicionals-title{
    font-family: mainlink; 
    font-size: 180%;
    margin-top: -5px;
    margin-bottom: -5px;
    color: #e9ce00;

}

.adicionals-description{
    font-family:distri;
    color: #e97c00; 
    font-size: 115%;
}

footer{
    background-color:rgb(79 79 79); 
    height: 360px;
    margin-left:-8px; 
    margin-right:-8px;
    margin-bottom:-8px;
    margin-top: -14px;
}

.footer-distribution{
display: grid;
grid-template-columns: 30% 70%;
align-items: center;
}



.icons-space:hover{
    opacity: 80%;
}

.icons-space{
    margin-left: 29%;
    margin-right: -24%;
    }
    
    .icons-main{
        margin-top: -30%;
    }

.options{
color:rgb(255, 225, 0);
font-family: distri;
font-size: 20px;
}

.options2{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}

.foot-p{
font-size: 18px; 
color:rgb(233 122 26);      
}

.foot-final{
    color:rgb(164, 175, 0);   
    font-size: 20px;
    text-align: center;
}


@media(max-width:1200px){

    .head-title{
        grid-template-columns: 1fr;
    }

     .title-text{
        margin-bottom: 17px;
     }

        .headtext{
           margin-bottom: 23px;

        }


        header{
            margin-top:-20px;
        }

        .main-title{
            grid-template-columns: 1fr;
        }


    
        .tacos-config{
         width: 60%;
         height: 85%;
         grid-row-start: 6;
        grid-row-end: inherit;
        grid-column-start: inherit;
        margin-right: 0px;
        }
     .mainlink{
       margin-left: 0px;

     }
     .desc{
    margin-left: 0px;

     }

     .desc2{

        margin-left: 0px;

     }
     .taco-icon{
        width:25%;
        height:54%;
        margin-top: 8px;
     }

     .desc3{
        margin-left:-15%;
        margin-top: 20px;
     }

     .flecha{
        width: 30%;
        height:50%;
        margin-left:40%; 
        margin-top:13%;
     }

     .card{
      width:90%;
      height: 350px;
     }

     .adicionals-img{
        width: 85%;
        height: 95%;
        }

        .adicionals-sub2{
            margin-left: -70px;
            margin-right: 0px;
            }
            
.adicionals-link{
    font-family: distri;
    font-size: 150%;
    }

    .adicionals-subtitle{
        font-size: 150%;
    }
    
    .adicionals-title{
        font-size: 250%;
        margin-top: -15px;
    
    }
    
    .adicionals-description{

        font-size: 150%;
    }
   
footer{
    margin-bottom: -10px;
    padding-bottom: 400px;
}
        .footer-distribution{
        grid-template-columns: 1fr;
        }

        .icons-main{
            margin-top: 4%;
            margin-bottom: -2%;
        }
        .icons-space{
            margin-left: 32%;
        }



    .foot-final{
        font-size: 15px;
        background-color: rgb(79 79 79);
    }

}
@media (max-width:855px) {

    .flecha{
       width: 27%;
       height: 42%;
       margin-top: 18%;

    }

    .desc3{
        margin-top: 4.5%;
    }

    .card{
     width:260px;
     height:300px;

    }

    .author{
      font-size: 10px;
      padding-top: 30px;
    }

    .category{
      font-size: 15px;
    }

    .heading{
        font-size: 11px;
    }

    .distri{
        grid-template-columns: 1fr;
        gap:20px
    }

    .card{
      width:370px;
      height: 350px;

    }

    .article-adicionals{
        grid-template-columns: 1fr;
    }

    .adicionals-img{
        width: 100%;
        height: 95%;
        }

        .adicionals-sub2{
            margin-right: 20px;
            margin-left: 20px;
        }
            
.adicionals-link{
    margin-left: 0px;
    font-size: 140%;
    margin-right: 570px;
    margin-top: 10px;
    }

    .adicionals-subtitle{
        font-size: 100%;
    }
    
    .adicionals-title{
        font-size: 150%;
        margin-top: -10px;
    
    }
    
    .adicionals-description{

        font-size: 100%;
    }




    footer{
        margin-top: 182px;
    }


}
@media (max-width:750px){
.mainlink{
    width:90%;

}

.taco-icon{
    width: 20%;
    margin-top: 6%;
 }
 .desc3{
    margin-top: 4%;
 }

 .flecha{
    width: 25%;
    height: 40%;
    margin-top: 17%;
 }

 .adicionals-link{
    margin-left: 0px;
    font-size: 140%;
    margin-right: 400px;
    margin-top: 10px;
    }
    footer{
        margin-top: 133px;
    }
}

@media (max-width:600px) {
    .desc3{
        margin-top: 5%;
    }

    .taco-icon{
        width: 25%;
        margin-top: 8%;
    }
    .flecha{
margin-top: 20%;

    }

    .adicionals-link{
        margin-left: 0px;
        font-size: 140%;
        margin-right: 300px;
        margin-top: 10px;
        }

        footer{
            margin-top: 61.5px;
        }

        .icons-space{
            margin-left: 27%;
            margin-right: -19%;
            }
}

@media (max-width:500px) {
    .flecha{
        width: 27%;
        height: 35%;
        margin-top: 25%;
    }

    .adicionals-link{
        margin-left: 0px;
        font-size: 140%;
        margin-right: 200px;
        margin-top: 10px;
        }

        footer{
            padding-bottom: 470px;
            margin-top: 21px;
        }

        .adicionals-sub2-img{
            width:90%;
            height:55%;
        
            }
            .options2{

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-right: 140px;
                margin-left: 120px;
             
            }
}

@media (max-width:400px) {
    .mainlink{
        font-size: 100%;
    }
    .desc3{
        margin-top: 18px;
    }
    .flecha{
        height: 33%;
        margin-top: 37.5%;
    }
    .taco-icon{
        margin-top: 14%;
        margin-left: 25px;
    }

    .card{
        width:270px;
        height:280px;
    }
    .author{
        padding-top: 5px;
    }

    .adicionals-link{
        margin-left: 0px;
        font-size: 140%;
        margin-right: 100px;
        margin-top: 10px;
        }

        footer{
            padding-bottom: 470px;
            margin-top: -4px;
        }

        .adicionals-sub2-img{
            width:90%;
            height:55%;
        
            }
            .options2{

                flex-direction: row;
                flex-wrap: wrap;
                margin-right: 80px;
                margin-left: 80px;
             
            }


}

@media (max-width:300px) {
    .mainlink{
        font-size: 90%;
    }
    .taco-icon{
        margin-top: 17%;
        margin-left: 11px;
    }
    .flecha{
        height: 30%;
        width: 33%;
        margin-top: 48%;
    }

    .adicionals-link{
        margin-left: 0px;
        font-size: 140%;
        margin-right: 0px;
        margin-top: 10px;
        }

        footer{
            padding-bottom: 490px;
            margin-top: 1.5px;
        }

        .adicionals-sub2-img{
            width:90%;
            height:55%;
        
            }
            .options2{

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-right: 16px;
                margin-left: 10px;
             
            }

            .icons-space{
                margin-left: 20%;
                margin-right: -15%;
                }
                
                .icons-main{
                    margin-top: 10%;
                }

}

@media (max-width:281px) {
    .mainlink{
        font-size:85%;
    }
}

@font-face {
    font-family: head;
    src: url(./fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: title;
    src: url(./fonts/THEBOLDFONT.ttf);
}

@font-face {
    font-family: mainlink;
    src: url(./fonts/Watermelon\ Days.ttf);
}

@font-face {
    font-family: distri;
    src: url(./fonts/Strawberry\ Days.otf);
}